
__pycache__
.vscode
.pytest_cache

/platforms/__pycache__
/db/__pycache__

platforms/__pycache__
db/__pycache__
front/deployment

*/__pycache__

files/
front/deployment
logs/

db/User.db
todo-list.txt

platforms/cookies