<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大碗宽面俱乐部 API</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入 axios 调用 api -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
    .col-head {
        padding: 0 0 10px 0;
    }
</style>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <h2>Welcome To Big Bow & Wide Noodle GateWay!</h2>
            </el-header>
            <el-container>
                <el-aside>
                    <el-menu default-active="4" class="el-menu-vertical-demo" @select="selectmenu">
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>音乐</span>
                            </template>
                            <el-menu-item v-for="name_prop in Object.entries(testcase.music)" :index="name_prop[0]"
                                :key="name_prop[0]">{{name_prop[1].zhName}}
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item index="2">
                            <template slot="title">
                                <i class="el-icon-video-camera"></i>
                                <span slot="title">视频</span>
                            </template>
                            <el-menu-item v-for="name_prop in Object.entries(testcase.movie)" :index="name_prop[0]"
                                :key="name_prop[0]">{{name_prop[1].zhName}}
                            </el-menu-item>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-male"></i>
                            <span slot="title">第三方接口</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-user"></i>
                            <span slot="title">本平台用户</span>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <i class="el-icon-document"></i>
                            <span slot="title">文档</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main>
                    <div v-if="selectedcategory === '1'">
                        <ul>
                            <li><a :href="`/${platformName}/songs?keyword=${platform.keyword}&page=1`">在
                                    {{platform.zhName}}里 搜索“{{platform.keyword}}”的歌曲的第 1 页</a></li>
                            <li><a :href="`/${platformName}/albums?keyword=${platform.keyword}&page=2`">在
                                    {{platform.zhName}}里 搜索“{{platform.keyword}}”的专辑的第 2 页</a></li>
                            <li><a :href="`/${platformName}/mv?keyword=${platform.keyword}&page=3`">在
                                    {{platform.zhName}}里 搜索“{{platform.keyword}}”的MV的第 3 页</a></li>
                            <li><a :href="`/${platformName}/songs/album?albumid=${platform.albumid}`">在
                                    {{platform.zhName}}里 获取专辑 id 为 {{platform.albumid}} 里面的所有歌曲</a></li>
                            <li><a :href="`/${platformName}/songs/songlist?dissid=${platform.dissid}`">在
                                    {{platform.zhName}}里 获取歌单 id 为 {{platform.dissid}} 里面的歌曲</a></li>
                            <li><a
                                    :href="`/${platformName}/comments/album?idforcomments=${platform.idforcomments.album}`">在
                                    {{platform.zhName}}里 获取专辑 idforcomments 为 {{platform.idforcomments.album}} 的评论</a>
                            </li>
                            <li><a
                                    :href="`/${platformName}/comments/song?idforcomments=${platform.idforcomments.song}`">在
                                    {{platform.zhName}}里 获取音乐 idforcomments 为 {{platform.idforcomments.song}} 的评论</a>
                            </li>
                            <li><a :href="`/${platformName}/comments/mv?idforcomments=${platform.idforcomments.mv}`">在
                                    {{platform.zhName}}里 获取mv idforcomments 为 {{platform.idforcomments.mv}} 的评论</a>
                            </li>
                            <li><a :href="`/${platformName}/uri/song?idforres=${platform.idforres}`">在
                                    {{platform.zhName}}里 获取音乐 idforres 为 {{platform.idforres}} 的 uri</a></li>
                            <li><a :href="`/${platformName}/uri/mv?mvid=${platform.mvid}`">在 {{platform.zhName}}里 获取mv
                                    id 为 {{platform.mvid}} 的 uri</a></li>
                            <li><a :href="`/${platformName}/lyric/${platform.lyricid}`">在 {{platform.zhName}}里 获取音乐歌词id
                                    为 {{platform.lyricid}} 的歌词内容</a></li>
                            <li><a :href="`/${platformName}/user/songlists?user=${platform.user}`">在
                                    {{platform.zhName}}里 获取QQ号 为 {{platform.user}} 的 所有公开歌单</a></li>
                        </ul>
                    </div>
                    <div v-if="selectedcategory === '2'">

                    </div>
                    <div v-if="selectedcategory === '3'">
                        <ul>
                            <li><a href="http://localhost:5000">QQ Music service</a></li>
                            <li><a href="http://api.goldenproud.cn/wangyi">WangYi Music service</a></li>
                            <li><a href="#">KuGou Music service</a></li>
                            <li><a href="#">XiaMi Music service</a></li>
                        </ul>
                    </div>
                    <div v-if="selectedcategory === '4'">
                        <el-row :gutter="20">
                            <el-col :span="12" style="max-height: 500px; overflow-y: auto;">
                                <div>
                                    <h3>注册/登录</h3>
                                    <p>在本平台注册或登录账户</p>
                                    <el-form ref="form" :model="loginsign" label-width="80px">
                                        <el-form-item label="用户名">
                                            <el-input v-model="loginsign.name"></el-input>
                                        </el-form-item>
                                        <el-form-item label="密码">
                                            <el-input v-model="loginsign.pw"></el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="login">登录</el-button>
                                            <el-button @click="sign">注册</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                                <el-divider></el-divider>
                                <div>
                                    <h3>用户歌单</h3>
                                    <p>获取用户在本平台收藏的歌单</p>
                                    <el-form ref="form" :model="playlist" label-width="80px">
                                        <el-form-item label="用户名">
                                            <el-input v-model="playlist.name"></el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="getlist">获取</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="col-head">参数
                                    <el-input type="textarea" :rows="5" v-model="postpanel.params">
                                    </el-input>
                                </div>
                                <div class="col-head">结果
                                    <el-input type="textarea" :rows="5" v-model="postpanel.response">
                                    </el-input>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-if="selectedcategory === '5'">
                        <a href="https://apizza.net/pro/#/project/01eec0c96c62477ce9c7c88a7cacef22/browse">文档</a>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>
</body>
<script>
    // get testcases
    axios.get('/static/testcase.json')
        .then(function (response) {

            mainApp(response.data);
        })
        .catch(function (error) {
            console.log(error);
        })

    function mainApp(data) {
        new Vue({
            el: '#app',
            data: () => {
                return {
                    testcase: data,
                    platformName: Object.keys(data.music)[0], // default select first music platform
                    platform: Object.entries(data.music)[0][1], // default select first music platform
                    selectedcategory: '4',

                    postpanel: {
                        params: "",
                        response: ""
                    },

                    loginsign: {
                        name: "Kris",
                        pw: "1234"
                    },

                    playlist: {
                        name: "Kris"
                    }
                }
            },
            methods: {
                selectmenu(index, indexpath) {
                    this.selectedcategory = indexpath[0];
                    this.platformName = index;
                    if (this.selectedcategory === "1") {
                        this.platform = this.testcase.music[index]
                        console.log(this.platform)
                    }
                },
                login() {
                    params = {
                        username: this.loginsign.name,
                        password: this.loginsign.pw
                    }
                    this.postTo('/login', params)
                },
                sign() {
                    params = {
                        username: this.loginsign.name,
                        password: this.loginsign.pw
                    }
                    this.postTo('/sign', params)
                },
                postTo(url, params) {
                    this.postpanel.params = JSON.stringify(params)
                    let _this = this
                    axios.post(url, params)
                        .then(function (response) {
                            _this.postpanel.response = JSON.stringify(response.data)
                        })
                        .catch(function (error) {
                            _this.postpanel.response = error;
                        });
                },
                getlist() {
                    params = {
                        username: this.playlist.name
                    }
                    this.getFrom('/user/loved/songs', params)
                },
                getFrom(url, args) {
                    this.postpanel.params = JSON.stringify(params)
                    let _this = this
                    axios.get(url, {params: args})
                        .then(function (response) {
                            _this.postpanel.response = JSON.stringify(response.data)
                        })
                        .catch(function (error) {
                            _this.postpanel.response = error;
                        });
                }
            },
            mounted() {

            }
        })
    }
</script>

</html>